@use 'src/app/styles/mixins.scss' as *;

.footer {
  margin-top: auto;
  padding-block: var(--spacing-lg);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .socials {
    display: flex;
    gap: var(--spacing-md);

    @include sm() {
      gap: var(--spacing-sm);
    }
  }
}
