@use 'src/app/styles/mixins.scss' as *;

.h1 {
  font: var(--font-h1);

  @include lg() {
    font-size: var(--fz-xl);
  }

  @include sm() {
    font: var(--fw-medium) var(--fz-lg) var(--ff-first);
  }
}

.h2 {
  font: var(--font-h2);

  @include sm() {
    font-size: var(--fz-xs);
  }
}

.isCentered {
  text-align: center;
}
