@use "src/app/styles/mixins.scss" as *;

.container {
  margin: 0 auto;
  max-width: 47rem;
  height: fit-content;
  display: flex;
  flex-direction: column;

  @include sm() {
    width: 100%;
  }
}

.title {
  margin-bottom: var(--spacing-xxl);

  @include sm() {
    margin-bottom: var(--spacing-xl);
    width: 100%;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  font: var(--fw-regular) 1.4rem var(--ff-second);

  @include sm {
    font-size: 1.2rem;
  }
}
